@import "../../style/variables.scss";
@import "../../style/_breakpoints.scss";

.char__search {
	&-form {
		border: 1px solid $main-color;
		border-radius: 0.625rem;
		padding: 1.25rem;
		z-index: 5;
	}
	&-label {
		color: $orange;
		font-size: 1.375rem;
		font-weight: 700;
		letter-spacing: 2px;
	}
	&-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 1.5625rem;
		input {
			width: 100%;
			height: 2.5rem;
			border-radius: 5px 0 0 5px;
			padding: 0 0.9375rem;
			font-size: 1.125rem;
			&::placeholder {
				font-size: 1.125rem;
				color: #a1a1a1;
			}
		}
	}
	&-error {
		display: block;
		margin-top: 0.625rem;
		color: #e32636;
		letter-spacing: 1px;
	}

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.5625rem;
	}
	&-success {
		color: #00bfff;
		letter-spacing: 1px;
		text-align: center;
	}
}

//* Desktop first

@include xl-d {
	.char__search {
		&-form {
			max-height: 12.5rem;
		}
	}
}
@include sm-d {
	.char__search {
		&-form {
			max-height: 18.75rem;
		}
		&-label {
			font-size: 1.125rem;
		}
	}
	.btn {
		&__sv {
			width: 5.375rem;
		}
	}
}
