@import "../../../style/variables.scss";
@import "../../../style/_breakpoints.scss";

.single-char {
	display: grid;
	grid-template: 1fr / 18.125rem 1fr;
	grid-auto-rows: auto;
	gap: 3.125rem;
	border-radius: 0.625rem;
	padding: 1.875rem;
	&__image {
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}
	&__desc {
		&-title {
			color: $orange;
			font-size: 1.375rem;
			font-weight: 700;
			text-align: left;
			margin-bottom: 1.875rem;
			letter-spacing: 2px;
		}
		&-name,
		&-birtday,
		&-occupation,
		&-status,
		&-nickname,
		&-appearance,
		&-portrayed,
		&-category,
		&-better {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.5;
			letter-spacing: 2px;
			color: $orange;
			margin-bottom: 0.9375rem;
		}
		&-name span,
		&-birtday span,
		&-occupation span,
		&-status span,
		&-nickname span,
		&-appearance span,
		&-portrayed span,
		&-category span,
		&-better span {
			font-weight: 500;
			color: $main-color;
			text-transform: uppercase;
			letter-spacing: 0;
		}
	}
}

//* Desktop first

@include sm-d {
	.single-char {
		grid-template-columns: 1fr;
		padding: 0;
		&__desc {
			&-title {
				font-size: 1.125rem;
				text-align: center;
				text-transform: uppercase;
			}
			&-name,
			&-birtday,
			&-occupation,
			&-status,
			&-nickname,
			&-appearance,
			&-portrayed,
			&-category,
			&-better {
				font-size: 1.125rem;
			}
			&-name span,
			&-birtday span,
			&-occupation span,
			&-status span,
			&-nickname span,
			&-appearance span,
			&-portrayed span,
			&-category span,
			&-better span {
				font-size: 1rem;
			}
		}
	}
}
