@import "../../../style/variables.scss";

.single-char {
	display: grid;
	grid-template-columns: 18.125rem 1fr;
	grid-template-rows: 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 3.125rem;
	border: 1px solid $orange;
	border-radius: 0.625rem;
	width: 75rem;
	padding: 1.875rem;
	margin: 0 auto;
	&__image {
		width: 18.125rem;
		height: 100%;
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}
	&__desc {
		&-title {
			color: $orange;
			font-size: 1.375rem;
			font-weight: 700;
			text-align: left;
			margin-bottom: 1.875rem;
			letter-spacing: 2px;
		}
		&-name,
		&-birtday,
		&-occupation,
		&-status,
		&-nickname,
		&-appearance,
		&-portrayed,
		&-category,
		&-better {
			font-weight: 700;
			line-height: 1.5;
			letter-spacing: 2px;
			color: $orange;
			margin-bottom: 0.9375rem;
		}
		&-name span,
		&-birtday span,
		&-occupation span,
		&-status span,
		&-nickname span,
		&-appearance span,
		&-portrayed span,
		&-category span,
		&-better span {
			font-weight: 500;
			color: $main-color;
			text-transform: uppercase;
			letter-spacing: 0;
		}
	}
}
