@import "../../style/variables.scss";
@import "../../style/_breakpoints.scss";

.random-quotes {
	margin-top: 5.3125rem;
	padding: 1.25rem;
	border: 1px solid $main-color;
	border-radius: 0.625rem;
	&__title {
		color: $orange;
		font-size: 1.375rem;
		font-weight: 700;
		margin-bottom: 1.5625rem;
		letter-spacing: 2px;
	}
	&__quote {
		font-size: 1.25rem;
		font-style: italic;
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1.5625rem;
	}
	&__info {
		font-size: 1.25rem;
		text-align: right;
		line-height: 1.5;
		span {
			font-weight: 700;
			color: $orange;
		}
	}
}

//* Desktop first

@include xl-d {
	.random-quotes {
		margin-top: 0;
	}
}
@include sm-d {
	.random-quotes {
		&__title {
			font-size: 1.125rem;
		}
		&__quote,
		&__info {
			font-size: 1rem;
		}
	}
}
