@import "../../style/variables.scss";
@import "../../style/_breakpoints.scss";

.app__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.9375rem 1.875rem;
	border-radius: 0.625rem;
	&-logo {
		a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 26.875rem;
			color: $main-color;
		}
	}
	&-image {
		width: 9.375rem;
		height: 9.375rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-title {
		font-size: 1.25rem;
		text-align: center;
		span {
			font-size: 1.875rem;
			line-height: 2.625rem;
			font-weight: 700;
			letter-spacing: 2.5px;
			text-transform: uppercase;
		}
	}
}

.app__menu {
	width: 18.75rem;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			a {
				font-size: 1.25rem;
				font-weight: 700;
				text-align: center;
				color: $main-color;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				transition: 0.3s all;
				&:hover {
					box-shadow: 0 0 10px 5px $orange;
					border-radius: 5px;
					padding: 10px;
				}
			}
		}
	}
}

//* Desktop first

@include md-d {
	.app__header {
		&-logo a {
			width: 20rem;
		}
		&-image {
			width: 7.375rem;
			height: 7.375rem;
		}
		&-title {
			font-size: 1.125rem;
			span {
				font-size: 1.5625rem;
			}
		}
	}
	.app__menu ul li a {
		font-size: 1rem;
	}
}

@include sm-d {
	.app__header {
		padding: 0;
		&-logo a {
			width: 16.875rem;
		}
		&-image {
			width: 5.375rem;
			height: 5.375rem;
		}
		&-title {
			font-size: 1rem;
			span {
				font-size: 1.375rem;
			}
		}
		.app__menu {
			ul {
				display: none;
			}
		}
	}
}
