@import "../../style/variables.scss";
@import "../../style/_breakpoints.scss";

.app__footer {
	font-size: 0.875rem;
	font-style: italic;
	color: $main-color;
	letter-spacing: 1px;
	text-align: right;
	p span {
		text-transform: uppercase;
	}
}

//* Desktop first

@include md-d {
	.app__footer {
		font-size: 0.625rem;
		line-height: 1rem;
	}
}
